<div class="container">

  <div class="main">
    <div class="col-sm-6">
      <tooltip-button [label]="'Science'" [tooltip]="'Here\'s a nifty tooltip'"></tooltip-button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam velit, luctus a gravida vitae,
        facilisis non ex. Donec egestas magna varius, </p>
    </div>
    <div class="col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam velit, luctus a gravida vitae,
        facilisis non ex. Donec egestas magna varius, </p>
      <tooltip-button [label]="'Physics'" [tooltip]="'Here\'s a nifty tooltip'"></tooltip-button>
    </div>
  </div>

</div>
